Analyze_link workflow.json
{
  "name": "Analyze_link workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8b86b827-299b-4004-9242-4381cbcc3043",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -816,
        -112
      ],
      "id": "74cc1cfa-845d-4387-8d6b-1b6f03041d7d",
      "name": "Webhook",
      "webhookId": "8b86b827-299b-4004-9242-4381cbcc3043"
    },
    {
      "parameters": {
        "url": "https://instagram-reels-downloader-api.p.rapidapi.com/download",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Webhook').item.json.body.url }}"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"x-rapidapi-host\": \"instagram-reels-downloader-api.p.rapidapi.com\",\n  \"x-rapidapi-key\": \"YOUR_RAPIDAPI_KEY\",\n  \"Content-Type\": \"application/json\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        -304
      ],
      "id": "36c8d8f3-4ac8-4521-9c80-19ad0500f9f2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.data.medias[0].url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        -304
      ],
      "id": "5c8b553e-ed51-4c65-a2ad-0f0410ef8165",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/analyze_video",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        -304
      ],
      "id": "5b112f5a-0f28-4d34-98f5-d7e15ebc14b9",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        432,
        -304
      ],
      "id": "c300e5a1-f195-4a23-9f94-901955c2a491",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.url }}",
                    "rightValue": "instagram.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "55b4a9cf-7e01-4088-b637-39f771898f3f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "708d6ff9-2c8b-4bc1-bd9c-03334dd05587",
                    "leftValue": "={{ $json.body.url }}",
                    "rightValue": "instagram.com",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -576,
        -112
      ],
      "id": "b2ca68a3-fa93-4f46-87a8-58be64bb565f",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8080/analyze_url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.body.url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        0
      ],
      "id": "2282f581-1622-4b9c-bc78-99290e9046cf",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -32,
        0
      ],
      "id": "162a802a-6521-413d-b811-0309af4b351e",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "111846e5-c734-4db4-9f12-9e6d27336733",
  "meta": {
    "instanceId": "52a53f41b78122a14fa78a591e8ca14eac56efa1ddeb3f95044a35690f3b4f1a"
  },
  "id": "STJu25IeToau88Gq",
  "tags": []
}